*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.login {
  align-items: center;
  width: 460px;
  padding: 10px 60px;
  position: relative;
  justify-content: center;
}

.img-form {
  position: relative;
}

.img-absolute {
  top: 20px;
  left: 157px;
  position: absolute;
}

.login-info {
  border: 1px solid rgba(128, 128, 128, 0.39);
  padding-top: 20px;
  padding-inline: 37px;
  margin-top: 12px;
}

.register {
  border: 1px solid rgba(128, 128, 128, 0.39);
  margin-block: 12px;
  display: flex;
  gap: 10px;
  padding-inline: 70px;
  padding-block: 5px;
}

.register a {
  text-decoration: none;
}

.logo img {
  padding-left: 50px;
}

.logo{
  width: 175px;
  height: 51px;
  margin-bottom: 20px;
  display: inline-block;
}

.input-login input {
  display: block;
  padding: 9px 0 7px 8px;
  background-color: rgb(250, 250, 250);
  border-color: rgba(117, 120, 122, 0.281);
  width: 275px;
}

.input-login button {
  background-color: rgb(117, 174, 228);
  color: #fff;
  border: none;
  padding: 10px 105px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.container{
    display: grid;
    grid-template-areas: "left-nav g-posts g-posts right-section";
}
  
.left-nav{
  width: 350px;
  border-right: 1px solid rgb(196, 192, 192);
  min-height: 100vh;
  grid-area: left-nav;
  top: 0;
  position: fixed;
}


.left-nav-ul {
  width: 95%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-nav-ul li {
    list-style: none;
    flex-direction: column;
    align-items: center;
}

.home {
    width: 130px;
}

.like svg {
    font-size: 25px;

}

.icon {
    margin-right: 15px;
}

.login-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-item {
    padding-top: 50px;
    margin-left: 20px;
}

.menu-item {
    border-radius: 6px;
    margin-block: 8px;
    margin-left: 20px;
}

.menu-item a {
    text-decoration: none;
    color: #000000;
    display: block; 
    padding: 10px;
}

.menu-item a:hover {
    background-color: #f0f0f0;
    color: #000000;
}

/* .end-item {
    justify-content: end;
} */

.posts {
    margin-top: 84px;
    grid-area: g-posts;
    width: 100%;
}

.post {
  margin-inline: auto;
  margin-top: 28px;
  /* box-shadow: 2px 2px 10px 4px #8f8e8e1e;  */
  width: 516px;
  border-bottom: 1px solid rgba(165, 162, 162, 0.473) ;
  padding: 5px;
}

.post h3 {
    margin-bottom: 11px;
    font-size: 15px;
}

.img-size {
    width: 500px ;
    height: 406px;
    margin-bottom: 15px;
    border: 1px solid rgba(128, 128, 128, 0.568);
}

.like-icon {
    margin-bottom: 10px;
}

.like p {
    margin-bottom: 10px;
}

.likes h4 {
    margin-bottom: 10px;
}

.card {
    display: none;
}

.create-post {
    width: 100%;
    height: 100vh;
    background-color: rgba(129, 128, 128, 0.89);
    position: fixed;
}

.create-page {
    margin-top: 5%;
    padding: 20px;
    width: 40%;
    min-height: 60%;
    background-color: white;
    position: fixed;
    right: 25%;
    border-radius: 18px;
}

.create-header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(182, 180, 180, 0.753);
    padding-bottom: 8px;
}

.create-header p {
    padding: 0;
    margin: 0;
}

.btn {
    float: right;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.right-section {
  grid-area: right-section;
}

.responsive-nav {
  display: none;
}

@media (width < 1168px ) {
  .responsive-nav{
    display: block;
  }
  .right-section {
    display: none;
  }
  .left-nav {
    width: 70px;
    border-right: 1px solid rgb(196, 192, 192);
    min-height: 100vh;
    grid-area: left-nav;
    top: 0;
  }
  .left-nav-ul {
    display: none;
  }
  .logo-item {
    display: none;
  }
  .icon {
    font-size: 20px;
  }
  .menu-item a:hover {
    width: 40px;
  }
}

.user-info p {
  color: grey;
}

.for-you-section {
  width: 250px;
  cursor: pointer;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.follow-us {
  border: none;
  background-color: transparent;
  color: rgb(67, 154, 212);
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-info img{
  width: 50px;
  border-radius: 30px;
}

.follow-us:hover {
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}

.post-option-title{
  display: flex;
  width: 490px;
  justify-content: space-between;
}

.option-btn-open {
  width: 100%;
  height: 100vh;
  background-color: rgba(129, 128, 128, 0.89);
  position: fixed;
}

.option-page {
  margin-top: 10%;  
  width: 25%;
  min-height: 40%;
  background-color: white;
  position: fixed;
  right: 35%;
  border-radius: 18px;
}

.option-content li {
  cursor: pointer;
  text-align: center;
  padding: 20px;
  list-style: none;
  border-bottom: 1px solid rgb(197, 197, 197);
}

.close-option {
  border-bottom: none;
}

.red {
  color: red;
}

.respons-nav-ul {
  list-style: none;
}

.res-logo-item {
  padding-left:20px;
  padding-top: 60px;
  margin-bottom: 40px;
}

.d-center {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

#text-name{
  width: 200px;
}