.container{
    display: grid;
    grid-template-areas: "left-nav g-posts g-posts g-posts";
}
  
.left-nav{
    width: 250px;
    border-right: 1px solid rgb(196, 192, 192);
    min-height: 100vh;
    grid-area: left-nav;
}


.left-nav-ul {
    width: 240px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.left-nav-ul li {
    list-style: none;
    flex-direction: column;
    align-items: center;
}

.home {
    width: 130px;
}

.icon {
    margin-right: 15px;
}

.logo-item {
    padding-top: 50px;
    margin-left: 20px;
}

.menu-item {
    border-radius: 6px;
    margin-block: 8px;
    position: relative;
    margin-left: 20px;
}

.menu-item a {
    text-decoration: none;
    color: #000000;
    display: block; 
    padding: 10px;
}

.menu-item a:hover {
    background-color: #f0f0f0;
    color: #000000;
}

/* .end-item {
    justify-content: end;
} */

.posts {
    grid-area: g-posts;

}

.post {
    width: 100vh;
    border-bottom: 1px solid rgb(165, 162, 162) ;
}

.img-size {
    width: 400px ;
    height: 303px;
    padding-bottom: 15px;
}

.like-icon {
    padding-bottom: 20px;
}